{% extends 'base.html' %}


{% block content %}
    {% if user == room.founder %}
        <a class='btn_delete' href="{{room.get_delete_room}}">delete</a>
    {% endif %}
    <div class="room_detail">
        <h3>Hi, <span class='hi'>{{user.username}}</span>. You went into a room called <span class='name_room'>{{room.name}}</span></h3>
        <p>creator this room : <span class='creator'>{{room.founder.username}}</span></p>
    </div>


    <div class="chat_container">
        

    </div>




{% endblock %}
